<div style="margin-bottom: 5px">
  <h2 style="font-family: 'Dosis', sans-serif">ADD Qualification</h2>
</div>

<mat-dialog-content>
  <!-- First Row -->
  <div style="max-width: 100%; margin-bottom: 10px;">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Title" [(ngModel)]="qualificationData.title" [ngModelOptions]="{ standalone: true }"
        autocomplete="profile-title" required />
    </mat-form-field>
  </div>
  <!-- End of First Row -->

  <!-- Second Row -->
  <div style="max-width: 100%">
    <mat-form-field style="width: 100%;">
      <textarea matInput placeholder="Description" style="min-height: 150px" [(ngModel)]="qualificationData.description"
        [ngModelOptions]="{ standalone: true }" autocomplete="profile-description" required>
        </textarea>
    </mat-form-field>
  </div>
  <!-- End of Second Row -->
</mat-dialog-content>

<mat-dialog-actions style="float: right">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
