  .body {
    margin-bottom: 3%;
    padding: 10px;
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .image-upload-container {
    cursor: pointer;
  }

  .img {
    width: 300px;
    max-height: 250px;
    margin-bottom: 10px;
  }

  .mat-form-field {
    width: 100%;
  }

  .app-modal-window .modal-dialog {
    width: 500px;
  }

  .dg {
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
  }

  button{
    margin: 5px;
  }
