<section>
  <div class=" container" style="min-height: 500px">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <form>
          <ng-template matStepLabel>VELKOMMEN</ng-template>
          <h2 class="text-center">Innmelding</h2>
          <h4>Velkommen. PTPro.FIT et sosialt plattform for kunder som søker en treningspartner eller drive treningsvirksomhet på hobby, privat eller kommersielt.</h4>

          <h4>PTPro.FIT interaktiv sosial medium som danner en ny profesjonell kanal mellom idrettsutøvere og
            kunder, samt fremme dem for relevante og potensielle kunder. PTPro.FIT åpner muligheter for
            trenere å praktisere sine egne tjenester og bygge nettverk via en og samme plattform.</h4>

          <h4>PTPro.FIT er tett knyttet til ditt eget region og område slik at du kan enkelt komme i kontakt med eksperter i ditt område.</h4>

          <h4>Klikk knappen for å prøve ut plattformen.</h4>

          <div class="text-center">
            <button class="next-trigger" mat-button matStepperNext> <i
                class="fa fa-arrow-circle-o-right fa-1x icon-n-t"></i>
              Fortsett </button>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="Generalprofile">
        <form [formGroup]="Generalprofile">
          <ng-template matStepLabel>PROFIL</ng-template>
          <div class="text-center">
            <h4>For å opprette en profil trenger vi noen opplysinger om deg. I prøve perioden er det ikke viktig med riktig opplysinger. </h4>
            <hr>
            <mat-form-field class="profile">
              <input matInput placeholder="Fornavn" formControlName="Generalprofile" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Etternavn" formControlName="Generalprofile" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="E-post" formControlName="Generalprofile" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Mobil nummer" formControlName="Generalprofile" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-select [(value)]="session.Region" placeholder="{{session.Region}}">
                <mat-option *ngFor="let a of session.Fylke" value="{{a}}">{{a}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
              <mat-select [(value)]="session.City" placeholder="{{session.City}}">
                <mat-option *ngFor="let b of session.Cities[session.Region]" value="{{b}}">{{b}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <div class="text-center">
              <button class="next-trigger" mat-button matStepperPrevious> Tilbake </button>
              <button class="next-trigger" mat-button matStepperNext> Neste </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="Membership">
        <form [formGroup]="Membership">
          <ng-template matStepLabel>TYPE MEDLEMSKAP</ng-template>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="">
                <h4> Velg medlemskap </h4>
                <p>Ditt medlemskap blir opprettet basert på dine valg!</p>
              </div>
              <mat-form-field class="membership">
                <mat-select [(value)]="MembershipValue" placeholder="{{ Memberships[0]['viewValue'] }}">
                  <mat-option *ngFor="let a of Memberships" [value]="a.value" (click)="selectMembership(a.value)">
                    {{a.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="MembershipValue == 'PT'">
                <div *ngIf="MembershipPackage == 'Premium'" class="package">
                  <h3>Et premium medlemskap inkluderer:</h3>
                  <ul>
                    <li>- Bli blant topp på forsidene</li>
                    <li>- Bli søkbart i din region og område</li>
                    <li>- Deltakelse i match og konkurranse på aktive PT</li>
                  </ul>
                </div>
                <div *ngIf="MembershipPackage == 'Free'" class="package">
               
                  <h3>Et gratis medlemskap inkluderer :</h3>
                  <ul>
                    <li>- Et profesjonell profil og PT-link</li>
                    <li>- Ønsker en profesjonell profil og markedsfører seg selv</li>
                    <li>- Deltar ikke på søk, match og konkurranse</li>
                  </ul>

                </div>
                <h4><b>Velg type medlemskap</b></h4>
                <mat-form-field class="membership">
                  <mat-select placeholder="{{PTMembership[0]['viewValue']}}">
                    <mat-option *ngFor="let a of PTMembership" [value]="a.value"
                      (click)="selectMembershipPackage(a.value)">
                      {{a.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <hr>
              <h3> Fødsels år?</h3>
              <mat-form-field>
                <select matNativeControl required>
                  <option value="volvo">1991</option>
                  <option value="saab">1998</option>
                  <option value="mercedes">1999</option>
                  <option value="audi">2200</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="text-center">
            <button class="next-trigger" mat-button matStepperPrevious>Back</button>
            <button class="next-trigger" mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>FULLFØRELSE</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>