<h5 class="card-title text-center">Sign In</h5>
<p class="text-danger" *ngIf="error">{{error}} </p>


<form class="form-signin" (ngSubmit)="f.form.valid && signin()" #f="ngForm" action="">
  <ng-template #alertSignin></ng-template>
  <div class="form-label-group">
    <h5 class="card-title"><b>E-post</b></h5>
    <input type="email" class="form-control" placeholder="E-post adresse" name="email" [(ngModel)]="model.email"
      #email="ngModel" autofocus autocomplete="off" required autofocus>
  </div>

  <div class="form-label-group">
    <h5 class="card-title"><b>Passord</b></h5>
    <input type="password" class="form-control" type="password" placeholder="Passord" name="password"
      [(ngModel)]="model.password" #password="ngModel" required>
  </div>
  <br>
  <div class="custom-control custom-checkbox  text-center">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">&nbsp;Hold meg pålogget</label>
  </div>
  <button id="m_login_signin_submit" class="btn btn-primary btn-block text-uppercase">
    Logg inn
  </button>

  <hr class="my-4">
</form>