<div *ngIf="loading else loaded">
    <div class="container" class="loader">
        <h2 class="text-center">{{ 'Wait a little...' | translate}}</h2>
        <mat-progress-bar mode="indeterminate" style="color:orange"></mat-progress-bar>
    </div>
</div>
<ng-template #loaded>
        <div class="section-title text-center">
            <h5 style="color: black; font-size: 22px">
                <b>Sosial og salgsdreven plattform</b> for brukere som ønsker en helse-plan, en profesjonell trener eller
                nettverk innen idrett og aktiv livstil bransje.
            </h5>
           
        </div>

    <!-- PT By Region -->
    <section>
        <div id="trainers" class="content-container container" #trainers>
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h2><i class="fa fa-user fa-1x" aria-hidden="true"></i> {{Region}}</h2>
                    </div>
                </div>
            </div>
            <div class="row border">
                <div *ngFor="let PT of PTByRegion" class="col-xs-6 col-sm-3 col-md-2 col-lg-2" routerLink="/pt/{{convert(PT.name)}}">
                    <div class="trainer-list wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible">
                        <img style="border-radius:5px" src="https://skyinformatics.biz/images/avatar/height_avatar.png" alt="Personal trainer {{PT.name}}">
                        <div class="trainer-overlay">
                            <div class="overlay-inner">
                            </div>
                        </div>
                        <div class="trainer-content">
                            <h6>{{PT.name}}</h6>
                            <i class="fa fa-star" aria-hidden="true" style="color:white"> {{PT.rating}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End PT By Region -->

    <!-- PT By City -->
    <section>
        <div class="content-container container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h2><i class="fa fa-users fa-1x" aria-hidden="true"></i> {{City}} </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let PT of PTByCity" class="col-xs-6 col-sm-3 col-md-2 col-lg-2" routerLink="/pt/{{convert(PT.name)}}">
                    <div class="trainer-list wow fadeInUp" data-wow-delay="0.4s">
                        <img style="border-radius:15px" height="400" src="https://skyinformatics.biz/images/avatar/height_avatar.png" alt="Personal trainer {{PT.name}}">
                        <div class="trainer-overlay">
                            <div class="overlay-inner">
                            </div>
                        </div>
                        <div class="trainer-content">
                            <h6>{{PT.name}}</h6>
                            <i class="fa fa-star" aria-hidden="true" style="color:white"> {{PT.rating}}</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End PT By City -->
</ng-template>
