  .body {    
    margin-bottom: 5%;
    padding: 5px;    
    width: 100%;
  }
  .title {
    margin-left: 48px;
    text-align: center;
  }

  .image-upload-container {
    cursor: pointer;
  }
 
  .img {
    width: 300px;
    margin: 3px auto;
  }

  .left-card {
    width: 52%;
  }
  .right-card {
    width:45%;
    height: 100%;
  }