<h3>Kontakt og media</h3>
<hr>
<h4 class="details">
    <div class="row details2">
        <div class="col-md-6"><b><i class="fa fa-envelope" aria-hidden="true"></i>
                Arbeid's
                epost</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-phone'></i> Telefon 1</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-phone'></i> Telefon 2</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-globe'></i> Hjemmeside</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-facebook'></i> Facebook</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-instagram'></i> Instagram</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-google'></i> Google</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-youtube'></i> Youtube</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-twitter'></i> Twitter</b></div>
        <div class="col-md-6"></div>
    </div>
    <div class="row details2">
        <div class="col-md-6"><b><i class='fa fa-skype'></i> Skype</b></div>
        <div class="col-md-6"></div>
    </div>
</h4>

<div class="text-center">
    <br><br>
    <i class="fa fa-lock fa-4x" aria-hidden="true"></i>
    <br><br>
    <h4 style="color:black">Du må være innlogget! </h4>
    <br><br>

</div>